{% extends "layout.html" %}
{% block content %}

<div class="container h-100">
  <div class="row h-100">
    <div class="col-12 my-auto">
      <br> <br> <br> <br>
      <h3 class="mb-3" align="left"> ERROR: Unable to extract JS Player URL.</h2>
      <p>Ocorreu um erro envolvendo a biblioteca youtube-dl. Não é possível utilizar vídeos que possuam direitos autorais. No momento, o repositório do youtube-dl está fora do ar devido a uma notificação da DMCA pela RIAA. Por favor, tente novamente com outra canção.</p>
    </div>
  </div>
</div>



{% endblock %}


